@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Pacifico&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.font-kalam {
  font-family: "Kalam", cursive;
  font-style: normal;
}

@font-face {                                                                                                                                                                                                  
  font-family: 'Iosevka';                                                                                                                                                                                     
  src: url('/fonts/IosevkaTermNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;                                                                                                                                                                                           
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/IosevkaTermNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/IosevkaTermNerdFont-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/IosevkaTermNerdFont-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
