:root {
  --rp-base: #191724;
  --rp-surface: #1f1d2e;
  --rp-overlay: #26233a;
  --rp-muted: #6e6a86;
  --rp-text: #e0def4;

  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ebbcba;
  --rp-pine: #31748f;
  --rp-foam: #9ccfd8;
  --rp-iris: #c4a7e7;
}

.code-block {
  padding: 24px;
  background: linear-gradient(
    180deg,
    var(--rp-surface),
    var(--rp-base)
  );

  color: var(--rp-text);
  border-radius: 14px;

  font-family: var(--font-ubuntu-mono);

  overflow-x: auto;
  white-space: pre;

  border: 1px solid var(--rp-overlay);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);

  position: relative;
}

code {
  margin: 0;
  padding: 0;
}
